.search {
  margin: 5rem 0 0 0;
  width: 25rem;

  &__header {
    margin: 1rem;
    color: #000;
    font-size: 1.5rem;
  }

  &__area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin-top: 0.5rem;
    border: 0.0625rem solid grey;
    font-family: "Consolas", monospace;
  }

  &__item {
    margin: 0.2rem;
    padding: 0.3rem;
    background-color: aliceblue;
    display: flex;
  }

  &__field {
    margin: 0.2rem;
    padding: 0.3rem;
    border: none;
    outline: none;
    width: 2rem;
    flex-grow: 3;
    font-family: "Consolas", monospace;
  }
  &__close {
    margin-left: 0.5rem;
    opacity: 0.3;
    cursor: pointer;
    display: block;
    height: 1rem;
    width: 1rem;
  }
  &__close:hover {
    opacity: 1;
  }
  &__close:before,
  &__close:after {
    position: absolute;
    content: " ";
    height: 0.8rem;
    width: 0.125rem;
    background-color: #333;
  }
  &__close:before {
    transform: rotate(45deg);
  }
  &__close:after {
    transform: rotate(-45deg);
  }
}
