.search {
  margin: 5rem 0 0 0;
  width: 20rem;

  &__header {
    margin: 1rem;
    font-size: 1.1rem;
  }

  &__area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin-top: 0.5rem;
    border: 0.025rem solid #c0c0c0;
    border-radius: 0.5rem;

    &:hover,
    &:focus {
      border-color: #40a9ff;
    }
  }

  &__item {
    margin: 0.2rem;
    padding: 0.3rem;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    border-radius: 0.125rem;
    display: flex;
    font-size: 0.7rem;
  }

  &__field {
    margin: 0.2rem;
    padding: 0.3rem;
    border: none;
    outline: none;
    width: 2rem;
    flex-grow: 3;
    font-family: "Consolas", monospace;
  }
  &__close {
    margin-left: 0.1rem;
    opacity: 0.3;
    cursor: pointer;
  }
  &__close:hover {
    opacity: 1;
  }
  &__closeitem {
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
  }
}
