.list {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  width: 23rem;
  height: 10rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  border-top: none;
  overflow: auto;
  margin: 0;
  padding: 0;
  z-index: 10;

  &__item {
    display: flex;
    align-items: center;
    padding: 0.2rem;
    font-size: 0.85rem;
    line-height: 1.25rem;
    cursor: pointer;
    outline: 0;

    &:hover,
    &:focus {
      background-color: #e6f7ff;
    }
  }
  &__text {
    padding-left: 1rem;
  }
}
